# Ignore All
/*

# Keep Files
!.Xresources
!.gitignore
!.vimrc
!.zshrc

# Keep Config Dir without Files
!/.config
/.config/*

# alacritty
!/.config/alacritty
/.config/alacritty/*
!/.config/alacritty/alacritty.yml

# dotfiles
!/.config/dotfiles

# dunst
!/.config/dunst
/.config/dunst/*
!/.config/dunst/dunstrc

# i3
!/.config/i3
/.config/i3/*
!/.config/i3/config
!/.config/i3/backup.config
!/.config/i3status
/.config/i3status/*
!/.config/i3status/config

# polybar
!/.config/polybar
/.config/polybar/*
!/.config/polybar/config
!/.config/polybar/config.ini
!/.config/polybar/launch.sh

# rofi
!/.config/rofi
/.config/rofi/*
!/.config/rofi/config.rasi

# vimrc
!/.vim/
/.vim/*
!/.vim/autoload/plug.vim
!/.vim/pack/themes/start/dracula

# Newsboat
!/.newsboat
/.newsboat/*
!/.newsboat/config
!/.newsboat/urls
