# Vim / Git Config
.cfg
.vim/plugged/*
.vim/undodir/*

# Etc
.netlify
./**/*/.DS_Store
.ScreamingFromSEOSpider
.bash_history
.ssh/*

# System Folders
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/

.config/nvm/*
.config/yarn/*
.zsh_history
.zcompdump
.yarnrc
.vscode/*
.viminfo
.tailwindcss/*
.quokka/*
.gitmoji/*
.config/coc/*
.npmrc
.nvm/
.python_history
.pylint.d
.contentfulrc.json
.DS_Store
.ScreamingFrogSEOSpider/*
.cache/*
.config/bpytop/*
.config/configstore/*
.config/filezilla/*
.degit/*
.fontconfig/*
.gitconfig
.hushlogin
.local/*
.newsboat/cache.db
.node-gyp/*
.node_repl_history
.npm/*
.openjfx/*
.CFUserTextEncoding
.contentfulrc.json
