# Vim / Git Config
.cfg
.vim/plugged/*
.vim/undodir/*

# Etc
.netlify
./**/*/.DS_Store
.ScreamingFromSEOSpider
.bash_history
.ssh/*
snap/
go/

# System Folders
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/

.config/nvm/*
.config/yarn/*
.config/gitui
.config/gh
.zsh_history
.zcompdump
.yarnrc
.vscode/*
.viminfo
.tailwindcss/*
.quokka/*
.gitmoji/*
.config/coc/*
.npmrc
.nvm/
.python_history
.pylint.d
.contentfulrc.json
.DS_Store
.ScreamingFrogSEOSpider/*
.cache/*
.config/bpytop/*
.config/configstore/*
.config/filezilla/*
.degit/*
.fontconfig/*
.gitconfig
.hushlogin
.local/*
.newsboat/cache.db
.node-gyp/*
.node_repl_history
.npm/*
.openjfx/*
.CFUserTextEncoding
.contentfulrc.json
.config/nvim/init.vim

.BitwigStudio/
.Xauthority
.Xclients
.angular-config.json
.bash_logout
.config/BraveSoftware/
.config/Code - OSS/
.config/Ganache/
.config/Kvantum/
.config/Mousepad/
.config/Popcorn-Time/
.config/Slack/
.config/WebTorrent/
.config/appimagelauncher.cfg
.config/autostart/
.config/blender/
.config/clipit/
.config/dconf/
.config/dlv/
.config/dmenu-recent/
.config/dunst/
.config/epdfview/
.config/falkon/
.config/fish/functions/idea2.fish
.config/fish/functions/sizes.fish
.config/gconf/
.config/gtk-2.0/
.config/gtk-3.0/
.config/hexchat/
.config/htop/
.config/libfm/
.config/lxsession/
.config/manjaro-hello.json
.config/manjaro/
.config/menus/
.config/mimeapps.backup.list
.config/nextjs-nodejs/
.config/nitrogen/
.config/nvim/
.config/obs-studio/
.config/pamac/
.config/pcmanfm/
.config/picom.conf
.config/pipewire/
.config/pulse/
.config/qt5ct/
.config/ranger/
.config/systemd/
.config/thefuck/
.config/truffle/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/viewnior/
.config/vlc/
.config/volumeicon/
.config/wireshark/
.config/xarchiver/
.config/xfce4/
.dir_colors
.gimp-2.8/
.gnome/
.gnupg/
.gtk-bookmarks
.gtkrc-2.0
.lesshst
.makepkg.conf
.moc/
.moonchild productions/
.mozilla/
.nvidia-settings-rc
.pki/
.profile
.vscode-oss/
.xinitrc
.xsession-errors
.xsession-errors.old
.yarn/
.zhistory
.zshrc
pod2htmd.tmp
snap/
.dmrc
.dmenurc
.tmux/plugins
.icons/
.fish/
.XresBackup
.cargo/
.config/Code/
.config/Google/
.config/QtProject.conf
.config/calibre/
.config/cmus/
.config/figma-linux/
.config/firebase/
.config/fish/functions/svim.fish
.config/fontconfig/
.config/hardhat-nodejs/
.config/i3-scrot.conf
.config/mimeapps.list
.config/ncspot/
.config/neofetch/
.emulator_console_auth_token
.git-credentials
.hplip/
.nuxtrc
.subversion/
.thumbnails/
.viminfo.tmp
.viminfy.tmp
.viminfz.tmp
.wget-hsts
fonts.scale
